# Compare patient with normative samples from other studies

### import modules

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

import sys
import os
import fnmatch

sys.path.append('../modules/')
import case_stats as cs

### Reading the eyes in the mind

Baron-Cohen S, Wheelwright S, Hill J, Raste Y, Plumb I. The “Reading the Mind in the Eyes” Test revised version: a study with normal adults, and adults with Asperger syndrome or high-functioning autism. The Journal of Child Psychology and Psychiatry and Allied Disciplines. 2001;42:241-251.  

Here, we use the student control sample's values (Group 3) from Table 3 of Baron-Cohen et al.'s manuscript.

In [2]:
group_mean = 28.6 
group_std = 3.2
group_n = 50
pat_mean = 26

max_score = 36

percent correct responses

In [3]:
pat_percent = (float(pat_mean)/max_score) * 100
'%0.f'%pat_percent

'72'

### convert each participant's scores into z-scores, then transform the z-scores into percentiles

In [5]:
'z= %.3f ; percentile= %.0f'%cs.make_percentiles(group_mean, group_std, pat_mean)

'z= -0.812 ; percentile= 21'

### compute a t-test patient vs controls, using the fromula by Crawford and Howell

In [6]:
t,df,p = cs.ttest_single(pat_mean, group_mean, group_std, group_n)
print 't=%.2f, df=%.0f p=%.4f'%(t ,df, p)

t=-0.80, df=49 p=0.4250

In [14]:
def make_df(group_mean, group_std, group_n, pat_mean, max_score, test_name, domain_name):
    
    # get percent correct
    pat_percent = (float(pat_mean)/max_score) * 100
    
    # make percentile score
    z,percentile_score = cs.make_percentiles(group_mean, group_std, pat_mean)
    
    # compute inferential statistics
    t,df,p = cs.ttest_single(pat_mean, group_mean, group_std, group_n)
    
    # put data into dictionary
    d = {'% correct':'%0.f'%pat_percent,
         'z':z,
         'percentile':'%0.f'%percentile_score,
         't':'%.2f'%t,
         'df':int(df),
         'p':'%.3f'%p}

    # transform into dataframe
    result_df = pd.DataFrame(d, index=[test_name])
    # format the dataframe
    result_df = result_df.loc[:,['% correct', 'z', 'percentile', 't', 'df', 'p']]
    result_df.index = [[domain_name]*result_df.shape[0], result_df.index]
    
    return result_df

### compute all statistics

In [16]:
group_mean = 28.6 
group_std = 3.2
group_n = 50
pat_mean = 26
max_score = 36

eyes_df = make_df(group_mean, group_std, group_n, pat_mean, max_score, 
                  test_name='Eyes test', domain_name='Face evaluation')
eyes_df

                          % correct         z percentile      t  df      p
Face evaluation Eyes test        72 -0.813348         21  -0.80  49  0.425

### Bergen Test

To investigate body perception, we used the The Bergen Right-Left Discrimination Test (BRLD) \citep{ofte2002right}. Here, body perception and mental rotation of bodies are tested using stick figures on which the left and right hand has to be identified. For example, a stick figure facing is shown from its front and the left hand has to be identified (it is on the right of the image, as the stick figure is facing us). The task is made more difficult by the stick figure holding sometimes crossing its hands. The test contains of three parts (back view, front view, alternating view) and the participant has 90 seconds time for each, after which the number of correct responses is counted.
After this, a variation of the BRLD was administered, which works identically, but all stick figures are upside down (hence, in a rear view the left hand is on the right side).
The normative sample was taken from \citet{grewe2014bergen} with 174 controls (124 female, mean age 28 years). Their mean and standard deviation were used to compute a percentile score for JB. The normative sample is reported to have a mean score of X and standard deviation of X, with the resulting 16th percentile at X.

    BLRT
precent correct 10  
percentile 2

A total of 174 adult volunteers (50♂, 124♀) participated in the study: 159 participants (91.4 %) were right-handed, 11 were left-handed (6.3 %), and 4 were ambidextrous (2.3 %). This distribution of handedness shows a ratio, which is slightly below the normal population’s portion of left-handers. Participants’ mean age was 28.24 years (SD = 14.12, Min = 18, Max = 94)  


BRLD-A was 110.24 (SD = 24.67). The mean total score of the BRLD-B was 109.73 (SD = 27.64).  


113.23 (23.64)

In [22]:
group_mean = 110.24
group_std = 24.67
group_n = 174
pat_mean = 48
max_score = 144

blrda_df = make_df(group_mean, group_std, group_n, pat_mean, max_score, 
                    test_name='BLRD-A', domain_name='Visuo-spatial')
blrda_df

                     % correct         z percentile      t   df      p
Visuo-spatial BLRD-A        33 -2.523242          1  -2.52  173  0.013

In [23]:
group_mean = 109.73
group_std = 27.64
group_n = 174
pat_mean = 54
max_score = 144

blrdb_df = make_df(group_mean, group_std, group_n, pat_mean, max_score, 
                    test_name='BLRD-B', domain_name='Visuo-spatial')
blrdb_df

                     % correct         z percentile      t   df      p
Visuo-spatial BLRD-B        38 -2.015474          2  -2.01  173  0.046

In [24]:
blrd_df = pd.concat([blrda_df,blrdb_df])
blrd_df

                     % correct         z percentile      t   df      p
Visuo-spatial BLRD-A        33 -2.523242          1  -2.52  173  0.013
              BLRD-B        38 -2.015474          2  -2.01  173  0.046

### LPS 2

To screen for impairments in visuo-spatial abilities, three subtests of the LPS-2 \citep{horn1983leistungsprufsystem} were used. In the first subtest, five rotated numbers are presented of which one is a mirror-image of the other four. The task is to identify and mark the mirrored item. In the second subtest, a three-dimensional geometric figure is shown and the task is to determine of how many areas it is composed (i.e. 6 for a cube). In the third subtest a number of intertwined geometric figures are shown alongside individual geometric figures and the task is to find the one figure which could fit into the intertwined configuration (e.g. a triangle into a star). For each part, the participant has a predetermined amount of time to complete as many trials as possible, with two minutes for the first and third part and three minutes for the second part. A summary score for visual-spatial intelligence (Gv) can then be computed. Normative values can be computed for the summary score, which are scaled like an IQ-score. In the case of JB, she scored 12,26 and 20 points for each respective test, resulting in a summary score of 58, which in turn is transformed into an IQ score of 85, corresponding to a percentile of 16.

In [25]:
group_mean = 76 # iq 100
group_std = (94-58)/2. # range from iq 85 to iq 115
group_n = 129
pat_mean = 12+26+20
max_score = 40+40+40

lps2_df = make_df(group_mean, group_std, group_n, pat_mean, max_score, 
                    test_name='LPS2-Visual', domain_name='Visuo-spatial')
lps2_df

                          % correct         z percentile      t   df      p
Visuo-spatial LPS2-Visual        48 -1.001154         16  -1.00  128  0.321

In [28]:
results_df = pd.concat([eyes_df,blrd_df,lps2_df])
results_df

                            % correct         z percentile      t   df      p
Face evaluation Eyes test          72 -0.813348         21  -0.80   49  0.425
Visuo-spatial   BLRD-A             33 -2.523242          1  -2.52  173  0.013
                BLRD-B             38 -2.015474          2  -2.01  173  0.046
                LPS2-Visual        48 -1.001154         16  -1.00  128  0.321

In [29]:
results_df.to_csv('../reports/tables/penandpaper_main_results.csv')